@charset "UTF-8";

/* 共通スタイル */
* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  line-height: 1.6;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: 80% auto;
  background-position: center center;
  background-attachment: scroll;
  background-color: #fff;
  color: #333;
}

header {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  margin: 0;
}

header img {
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 1));
  margin: 0 auto;
  display: block;
}

nav {
  width: 60%;
  margin: 0 auto;
}

nav a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  transition: 0.5s;
}

nav a:hover {
  color: #6d49ff;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.article-title {
  text-align: center;
  font-size: 2em;
  margin-top: 120px;
}

main {
  width: 50%;
  min-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  border: 1px solid #ccc;
}

.iframely-embed {
  width: 70%;
  height: auto;
  margin: 0 auto;
  display: block;
  border: gray 4px solid;
  border-radius: 20px;
  overflow: hidden;
}

.sakamv {
  display: block;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.sakamv iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  border: none;
  border-radius: 15px;
}

#album-image-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#album-image-collection img {
  width: 30%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

#headup {
  width: 70%;
  margin: 0 auto;
  padding: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: left;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 40px;
}
